<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encabezado</title>
    <style>
        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Estilos del encabezado */
        header {
            background-color: #4CAF50; /* Verde */
            color: #fff; /* Blanco */
            padding: 10px;
            text-align: center;
        }

        header a {
            color: #fff; /* Blanco */
            text-decoration: none;
            margin: 0 10px;
        }

        header a:hover {
            text-decoration: underline;
        }

        .logo {
            margin-right: auto;
            margin-left: 10px;
            float: left;
            line-height: 30px;
        }

        .logout {
            margin-left: auto;
            margin-right: 10px;
            float: right;
            line-height: 30px;
        }

        .menu-item {
            display: inline-block;
            line-height: 30px;
        }
    </style>
</head>
<body>
    <p id="clvIdActual" style="display: none;"><%= id %></p>
    <header>
        <div class="logo"><img src="../LOGO_ALFAKINE.webp"></div>
        <div class="menu-item"><a href="/utilidades/dashboard?id=<%= id %>">Calendario</a></div>
        <div class="menu-item"><a href="/usuarios/createuserV?id=<%= id %>">Registrar paciente</a></div>
        <div class="menu-item"><a href="/usuarios/findUserbySpecV?id=<%= id %>">Agendar cita</a></div>
        <div class="menu-item"><a href="/usuarios/userNewOld?id=<%= id %>">Temporal</a></div>
        <div class="menu-item"><a href="/usuarios/usersList?id=<%= id %>">Lista de Clientes</a></div>
        <div class="menu-item"><a href="/utilidades/realdashboard?id=<%= id %>">Economía</a></div>
        <div class="logout">Log Out</div>
    </header>
</body>
</html>