<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padecimientos</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <%- include('../header') %>
    <div class="padecimientos-container">
        <h2>Nota Terapeutica</h2>
        <div class="padecimientos-list">
            <div class="padecimiento">
                <label for="Raz贸n de consulta" class="edit-user-label">Raz贸n de consulta</label>
                <input type="text" id="Raz贸n" name="Raz贸n" value="<%= information.Padecimiento.Razon %>" class="edit-user-input">
                <label for="Zona de dolor" class="edit-user-label">Zona de dolor</label>
                <input type="text" id="Zona_dolor" name="Zona_dolor" value="<%= information.Padecimiento.Zona_dolor %>" class="edit-user-input">
                <label for="Comentarios" class="edit-user-label">Comentarios</label>
                <input type="text" id="Comentarios" name="Comentarios" value="<%= information.Padecimiento.Comentarios %>">
                <label for="Recomendaciones" class="edit-user-label">Recomendaciones</label>
                <input type="text" id="Recomendaciones" name="Recomendaciones" value="<%= information.Padecimiento.Recomendaciones %>">
                <label for="Tratamiento" class="edit-user-label">Tratamiento</label>
                <input type="text" id="Tratamiento" name="Tratamiento" value="<%= information.Padecimiento.Tratamiento %>">
            </div>
            <div class="padecimiento">
                <h2>Detalles de pago</h2>
                <% if (information.Pago == null) { %>
                    <p><strong>Cantidad:</strong>0</p>
                    <p><strong>Pagado:</strong> No pagado</p>
                    <p><strong>Tipo de pago:</strong>Pendiente</p>
                <% } else { %>
                    <p><strong>Cantidad:</strong> <%= information.Pago.cantidad %></p>
                    <p><strong>Pagado:</strong><%= information.Pago.pagado ? 'Pagado' : 'No pagado' %></p>
                    <p><strong>Tipo de pago:</strong> <%= information.Pago.tipopago %></p>
                <% } %>
            </div>
        </div>
        <div class="padecimientos-list">
        </div>
    </div>
</body>
</html>