<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="styles.css">
    <script>
        function searchUser() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementsByClassName("user-list-table")[0];
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script> 
    <script>
        function redirectToUser(userId) {
            window.location.href = "/userbyId/"+userId;
        }
    </script>  
</head>
<body>
    <div class="user-list-container">
        <h2>Lista de Usuarios</h2>
        <div class="user-list-search">
            <input type="text" id="searchInput" placeholder="Buscar usuario...">
            <button onclick="searchUser()">Buscar</button>
        </div>
        <table class="user-list-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Antecedentes Congenitos</th>
                    <th>Antecedentes Familiares</th>
                    <th>Age</th>
                    <th>Sexo</th>
                    <th>Buscar</th>
                </tr>
            </thead>
            <tbody>
                <% user.forEach(function(user) { %>
                    <tr>
                        <td><%= user.nombre %></td>
                        <td><%= user.apellido_paterno %> <%= user.apellido_materno %></td>
                        <td><%= user.antecedentes_congenitos %></td>
                        <td><%= user.antecedentes_familiares %></td>
                        <td><%= user.Age %></td>
                        <td><%= user.Edad %></td>
                        <td>
                            <button onclick="redirectToUser('<%= user.id_usuario %>')">Buscar</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>

