<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../users.css">
    <title>Detalles del Usuario</title>
    <style>
        /* Estilos CSS */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .user-details-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .user-details-container h2 {
            margin-top: 0;
        }

        .user-details {
            border-top: 1px solid #ccc;
            padding-top: 20px;
        }

        .user-details p {
            margin: 10px 0;
        }

        .user-details p strong {
            font-weight: bold;
        }
    </style>
    <script>
        function obtenerId(){
            const id = document.getElementById("clvIdActual").innerHTML;
            console.log("El id que se esta obteniendo es: "+id);
            return id;
        }

        function redirectToConsultas(userId) {
            const id = obtenerId();
            window.location.href = "/consultas/"+userId+"?id="+id;
        }

        function redirectToEdit(userId) {
            const id = obtenerId();
            window.location.href = "/usuarios/userbyEditV/"+userId+"?id="+id;
        }
        function registrarUsuario(userId) {
            const id = obtenerId();
            window.location.href = "/consultas/crearconsultaV/"+userId+"?id="+id;
        }
    </script>
</head>
<body>
    <%- include('../header') %>
    <div class="user-details-container">
        <h2>Detalles del Paciente</h2>
        <div class="user-details">
            <p><strong>Nombre:</strong> <%= User.nombre %></p>
            <p><strong>Apellidos:</strong> <%= User.apellido_paterno %> <%= User.apellido_materno %></p>
            <p><strong>Antecedentes Congénitos/Alergias:</strong> <%= User.antecedentes_congenitos %></p>
            <p><strong>Antecedentes Familiares:</strong> <%= User.antecedentes_familiares %></p>
            <p><strong>Telefono:</strong> <%= User.telefono %></p>
            <p><strong>Edad:</strong> <%= User.Edad %></p>
            <p><strong>Sexo:</strong> <%= User.Sexo %></p>
        </div>
        <button onclick="redirectToEdit('<%= User.id_usuario %>')">Editar</button>
        <button onclick="redirectToConsultas('<%= User.id_usuario %>')">Ver consultas</button>
        <button onclick="registrarUsuario('<%= User.id_usuario %>')">Registrar Consulta</button>
    </div>
</body>
</html>
